@media (max-width:1000px) {


  .line1-list{
    flex-direction: column;
    font-size: 15px;
  }

  .line1-list li{
    margin: 0 auto;
    padding-bottom: 15px;
  }

  .special{
    color: red;
  }
}
